.footer1-container {
    height: auto;
    width: 100%;
    background-color: #161B3F;
}
.footer1-parent img {
    width: 100%;
    height: 11rem;
}
@media screen and (max-width: 729px) {
    .footer1-container {
        visibility: hidden;
        display: none;
    }  
}